/mmrz
/mohi
/*.pyc
/caziwa/media/**
/caziwa/.idea/**
/caziwa/users/migrations/**
/caziwa/index/migrations/**
/caziwa/product/migrations/**
/caziwa/payment/migrations/**
/caziwa/users/__pycache__/**
/caziwa/index/__pycache__/**
/caziwa/product/__pycache__/**
/caziwa/payment/__pycache__/**
/caziwa/caziwa/__pycache__/**
/caziwa/users/migrations/__pycache__/**
/caziwa/index/migrations/__pycache__/**
/caziwa/product/migrations/__pycache__/**
/caziwa/payment/migrations/__pycache__/**
