.honarmand {
    margin-bottom: 300px;
}

.pro-nav {
    margin-top: 82px;
    background-color: #fff;
    padding: 6px 0px;
}

.about-art {
    background-color: #fff;
    margin-top: 12px;
}

.photo {}

.responsiv-pic {
    padding-top: 49px;
}

.box-honar {
    padding: 26px;
}

.text-art {
    padding-top: 24px;
}

.art-pic {
    padding: 12px;
}

.handmade {
    background-color: #fff;
    margin-top: 12px;
}

.pagination {
    padding-top: 5px;
    display: inline-block;
    padding-left: 0;
    margin: -11px 0;
    border-radius: 8px;
    float: left;
    margin-top: 0px;
}

.pagination a {
    text-decoration: none;
    color: #000;
}

.art-made {
    float: right;
    padding-top: 5px;
}

.box-pic {
    padding: 15px 0px;
}

.prom-la {
    padding: 5px 0px;
    background-color: #f1f1f1;
}

.prf, .pro-labal, .have-border {
    width: 100%;
    text-align: center;
}

.prf, .pro-labal {
    color: #1eb5bc;
}

.have-border span {
    background-color: #1eb5bc;
    border-radius: 15px;
    color: #fff;
    font-weight: 400;
    padding: 2px 13px;
}

.padding-l {
    padding-left: 12px;
}

.ination-down {
    padding-bottom: 12px;
}

.honarman-more {
    background-color: #1eb5bc;
    margin-top: 12px;
    background-image: url(../img/category.png);
    background-size: cover;
    margin-bottom: 13px;

}

.text-more {
    text-align: center;
    color: #fff;
        margin-bottom: 52px;
}

.text-more h3 {
    font-weight: 300;
}

.artist-owl {
    margin-top: -60px position: relative;
    top: -24px;
    padding: 0px 50px;
        padding: 0px 136px;
}

.artist-owl .owl-item {
    text-align: center;
}

.artist-owl a {
    width: 150px;
    border-radius: 50%;
    text-align: center;
}

.artist-owl .owl-item a img {
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #fff;
}

.artist-owl .owl-nav>div {
    position: absolute;
    top: 40%;
}

.artist-owl .owl-nav>div i {
    font-size: 25px;
    color: rgb(255, 207, 62)
}

.artist-owl .owl-nav>.owl-prev {
    right: 0;
}

.artist-owl .owl-nav>.owl-next {
    left: 0;
}

.artists-lab {
    text-align: -webkit-center;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
}

.artists-lab label {
    display: block;
    color: #000;
    font-size: 13px;
        background-color: #fff;
        padding: 5px 9px;
    border-radius: 14px;
    margin: 4px 30px;
}
