<!DOCTYPE html> {% extends 'base.html' %} {% load static %} {% block head %}
<title>درباره ی ما</title>
<link rel="stylesheet" href="{% static 'css/about.css' %}"> {% endblock %} {% block content %}
<div class="about">
    <div class="pro-nav">
        <div class="container">
            <div class="col-sm-12">
                <ul>
                    <li><a href="#">کازیوا</a></li>
                    <li><a href="#"><b>هنرمندان</b></a></li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-about">
        <div class="container">
            <div class="col-sm-12">
                <div class="col-sm-3">

                </div>
                <div class="box col-sm-6">
                    <h4>مسیر کازیوا</h4>
                    <p>گستره‌ای به وسعت کالای دیجیتال (موبایل، تبلت و کتابخوان‌ها، لپ‌تاپ، کامپیوتر و لوازم جانبی، دوربین، صوتی و تصویری، ماشین‌های اداری و لوازم جانبی کالای دیجیتال)، لوازم خانگی (لوازم برقی، آشپزخانه، سرو و پذیرایی، دکوراتیو، خواب و حمام،
                        شست‌وشو و نظافت و ابزار)، زیبایی و سلامت (عطر، لوازم آرایشی، لوازم بهداشتی، لوازم شخصی برقی، ساعت، زیورآلات، ابزار سلامت)، فرهنگ و هنر (کتاب و مجلات، لوازم‌تحریر، صنایع دستی، آلات موسیقی، موسیقی، فیلم، نرم افزار و بازی و محتوای
                        آموزشی) و ورزش و سرگرمی (لوازم ورزشی، اسباب بازی، تجهیزات سفر و کفش ورزشی)؛ از برندهای متنوع، متعدد و سرشناس جهانی همچون اپل، سونی، سامسونگ، ال‌جی، اچ‌پی، کانن، بوش، نایک، آدیداس، نیوا و ... دیجی‌کالا، یک دهه پس از آغاز فعالیت،
                        با داشتن مراکز توزیع در استان تهران، امکان تحویل کالا را به‌صورت رایگان (در مورد خریدهای بیش از صدهزارتومان) در همان روز ثبت سفارش فراهم کرده است.</p>
                    </p>
                </div>
                <div class="col-sm-3">

                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-md-2 col-lg-3 col-sm-1 ">

                </div>
                <div class="col-sm-10 col-md-8 col-lg-6 caziwas">
                    <div class="col-xs-12">
                        <h4>تیم کازیوا</h4>
                    </div>
                    <div class="col-xs-12 we-div">
                        <div class="col-sm-2"> </div>
                        <div class="col-sm-4 labal-lab">
                            <img src="{% static 'img/sample.jpeg' %}" alt="" class="we"> <label>سام زرین مهر</label> <label>بنیان گزار</label></div>
                        <div class="col-sm-4 labal-lab"> <img src="{% static 'img/sample.jpeg' %}" alt="" class="we"> <label>سام زرین مهر</label> <label>بنیان گزار</label> </div>
                        <div class="col-sm-2"> </div>
                    </div>
                    <div class="col-xs-12 we-div">
                        <div class="col-sm-4 labal-lab"> <img src="{% static 'img/sample.jpeg' %}" alt="" class="we"> <label>سام زرین مهر</label> <label>بنیان گزار</label> </div>
                        <div class="col-sm-4 labal-lab"> <img src="{% static 'img/sample.jpeg' %}" alt="" class="we"> <label>سام زرین مهر</label> <label>بنیان گزار</label> </div>
                        <div class="col-sm-4 labal-lab"> <img src="{% static 'img/sample.jpeg' %}" alt="" class="we"><label>سام زرین مهر</label> <label>بنیان گزار</label></div>
                    </div>
                </div>
                <div class="ol-md-2 col-lg-3 col-sm-1 ">

                </div>
            </div>
        </div>

    </div>

</div>










{% endblock%} {% block script %}
<script>

</script>
{% endblock %}
