<!DOCTYPE html> {% extends 'base.html' %} {% load static %} {% block head %}
<title>هنرمندان</title>
<link rel="stylesheet" href="{% static 'css/artist.css' %}">
<link rel="stylesheet" href="{% static 'css/hexagons.css' %}"> {% endblock %} {% block content %}
<div class="artist-pg">
    <div class="pro-nav">
        <div class="container">
            <div class="col-sm-12">
                <ul>
                    <li><a href="#">کازیوا</a></li>
                    <li><a href="#"><b>هنرمندان</b></a></li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="box-tozihat">
        <div class="col-xs-5">

        </div>
        <div class="col-xs-2">
            <a href="#" class="logo-holder">
                <img src="{% static 'img/CaziwaLogo.png' %}" class="img-responsive logo-img" alt="logo-img">
            </a>
        </div>
        <div class="col-xs-5">

        </div>
        <div class="col-sm-12">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8">
          <p>. گستره‌ای به وسعت کالای دیجیتال (موبایل، تبلت و کتابخوان‌ها، لپ‌تاپ، کامپیوتر و لوازم جانبی، دوربین، صوتی و تصویری، ماشین‌های اداری و لوازم جانبی کالای دیجیتال)، لوازم خانگی (لوازم برقی، آشپزخانه، سرو و پذیرایی، دکوراتیو، خواب و حمام، شست‌وشو و نظافت و ابزار)، زیبایی و سلامت (عطر، لوازم آرایشی، لوازم بهداشتی، لوازم شخصی برقی، ساعت، زیورآلات، ابزار سلامت)، فرهنگ و هنر (کتاب و مجلات، لوازم‌تحریر، صنایع دستی، آلات موسیقی، موسیقی، فیلم، نرم افزار و بازی و محتوای آموزشی) و ورزش و سرگرمی (لوازم ورزشی، اسباب بازی، تجهیزات سفر و کفش ورزشی)؛ از برندهای متنوع، متعدد و سرشناس جهانی همچون اپل، سونی، سامسونگ، ال‌جی، اچ‌پی، کانن، بوش، نایک، آدیداس، نیوا و ... دیجی‌کالا، یک دهه پس از آغاز فعالیت، با داشتن مراکز توزیع در استان تهران، امکان تحویل کالا را به‌صورت رایگان (در مورد خریدهای بیش از صدهزارتومان) در همان روز ثبت سفارش فراهم کرده است.</p>
        </div>
        <div class="col-xs-2">

        </div>
      </div>
    </div>
<div class="container">
  <div class="honar container">
    <p class="eng">Caziwa Artist</p>
    <p class="pers">هنرمندان کازیوا</p>
  </div>

</div>
<div class="container">
  
</div>








</div>
{% endblock%} {% block script %}
<script>

</script>
{% endblock %}
