<!DOCTYPE html> {% extends 'base.html' %}{% load static %} {% block head %}
<title>کاتالوگ</title>
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}"> {% endblock %} {% block content %}
<div class="catalog">

    <div class="pro-nav">
        <div class="container">
            <div class="col-sm-4">
                <ul>
                    <li><a href="#">خانه</a></li>
                    <li><a href="{% url 'product:category' category_slug=category.cat_slug %}">{{ category.name }}</a></li>
                    <li><a href="#"><b>{{ subcategory.name }}</b></a></li>
                </ul>
            </div>
            <div class="col-sm-8">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 search-bar">

            <div class="col-sm-3">
                <div class="input-holder">
                    <input type="text" name="search" placeholder="جستجو">
                    <i class="zmdi zmdi-search"></i>
                </div>
            </div>
            <div class="col-sm-4"> </div>
            <div class="col-sm-5">
{% if products.has_other_pages %}
                <div class="pagination">
                    {% if products.has_previous %}
                         <a href="?page={{ products.previous_page_number }}">صفحه قبلی</a>
                    {% else %}
                          <a class="disabled"><span>صفحه قبلی</span></a>
                    {% endif %}
                          {% for i in products.paginator.page_range %}
                              {% if products.number == i %}
                                 <a class="active"><span>{{ i }} <span class="sr-only ">(current)</span></span></a>
                             {% else %}
                                  <a href="?page={{ i }}">{{ i }}</a>
                              {% endif %}
                         {% endfor %}
                         {% if products.has_next %}
                               <a href="?page={{ products.next_page_number }}">صفحه بعدی</a>
                          {% else %}
                               <a class="disabled"><span>صفحه بعدی</span></a>
                             {% endif %}
                </div>
{% endif %}

            </div>


        </div>
    </div>
    <div class="main-cata container">
        <div class="col-sm-2 padding-to-main">
            <div class="cata-det">

                <div class="cata-brand">

                    <h5>بر اساس نوع</h5>
                    <div>
                      <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" >
                      <label for="checkbox-1" class="checkbox-custom-label"> میخی </label>
                    </div>
                    <div>
                      <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox" >
                      <label for="checkbox-2" class="checkbox-custom-label"> آویز </label>
                    </div>
                    <div>
                      <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox"  >
                      <label for="checkbox-3" class="checkbox-custom-label"> حلقه ای </label>
                    </div>
                </div>
                <div class="cata-product">
                    <h5>بر اساس سازنده</h5>
                    <div>
                      <input id="checkbox-4" class="checkbox-custom" name="checkbox-4" type="checkbox"  >
                      <label for="checkbox-4" class="checkbox-custom-label"> اسپریت </label>
                    </div>
                    <div>
                      <input id="checkbox-5" class="checkbox-custom" name="checkbox-5" type="checkbox"  >
                      <label for="checkbox-5" class="checkbox-custom-label"> لوتوس </label>
                    </div>
                    <div>
                      <input id="checkbox-6" class="checkbox-custom" name="checkbox-6" type="checkbox"  >
                      <label for="checkbox-6" class="checkbox-custom-label"> پیر کاردین </label>
                    </div>
                    <div>
                      <input id="checkbox-7" class="checkbox-custom" name="checkbox-7" type="checkbox"  >
                      <label for="checkbox-7" class="checkbox-custom-label"> ناردونه </label>
                    </div>
                    <div>
                      <input id="checkbox-9" class="checkbox-custom" name="checkbox-9" type="checkbox"  >
                      <label for="checkbox-9" class="checkbox-custom-label"> الیور وبر </label>
                    </div>
                    <div>
                      <input id="checkbox-8" class="checkbox-custom" name="checkbox-8" type="checkbox"  >
                      <label for="checkbox-8" class="checkbox-custom-label"> میو </label>
                    </div>

                </div>
                <div class="cata-price">
                    <h5>بر اساس قیمت</h5>
                          <p>
                              <label for = "price">محدوده قیمت:</label>
                              <input type = "text" id = "price" style = "border:0; color:#b9cd6d; font-weight:bold;">
                        </p>
                    <div class="c-p">

                    </div>
                </div>
                <div class="cata-color">
                    <h5>بر اساس رنگ</h5>
                    <div class="color-item">
                        <div>

                            <div>
                              <input id="checkbox-10" class="checkbox-custom" name="checkbox-10" type="checkbox"  >
                              <label for="checkbox-10" class="checkbox-custom-label">  <div class="foo check-white"></div>  </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>

                            <div>
                              <input id="checkbox-11" class="checkbox-custom" name="checkbox-11" type="checkbox"  >
                              <label for="checkbox-11" class="checkbox-custom-label"><div class="foo check-yellow"></div></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>

                            <div>
                              <input id="checkbox-12" class="checkbox-custom" name="checkbox-12" type="checkbox"  >
                              <label for="checkbox-12" class="checkbox-custom-label">  <div class="foo check-blue"></div></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>

                            <div>
                              <input id="checkbox-13" class="checkbox-custom" name="checkbox-13" type="checkbox"  >
                              <label for="checkbox-13" class="checkbox-custom-label">  <div class="foo check-purple"></div></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>

                            <div>
                              <input id="checkbox-14" class="checkbox-custom" name="checkbox-14" type="checkbox"  >
                              <label for="checkbox-14" class="checkbox-custom-label"><div class="foo check-red"></div></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10 no-pad-R">
            <div class="cata-item">
                <div class="col-sm-12 no-padding">

                    {% for p in products %}

                    <div class="col-sm-4 col-md-3 col-xs-6 photoo right-pad">
                        <img src="{{ p.main_image.url }}" alt="">
                        <div class="boxx col-xs-12">
                            <div class="col-xs-12 cta-item-name demo no-padding">
                                <div class="pro-name"> {{ p.name }}</div>
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>
                            <div class="col-xs-12  no-padding">
                                <div class="col-xs-12 no-padding">تولید کننده :{{ p.artist}}</div>



                            </div>
                            <div class="col-xs-12 no-padding box-bottun">
                                <div class="col-xs-10">
                                    <div class="block-pric">
                                        ۳۰۰۰۰تومان
                                    </div>
                                {% for a in p.product_price.all %}
                                    <div class="block-pric1">
                                       {{ a.price }}
                                    </div>
                                {% endfor %}
                                </div>
                                <div class="col-xs-2 i-plus">
                                    <a href="{% url 'product:product' category_slug=category.cat_slug subcategory_slug=subcategory.cat_slug product_id=p.id %}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                                </div>

                            </div>

                        </div>

                    </div>

{% endfor %}

                </div>
            </div>
        </div>
    </div>
<div class=" col-xs-12">
<div class="container ">
    <div class="col-sm-8"> </div>
    <div class="col-sm-4 ination-button">
{% if products.has_other_pages %}
                <div class="pagination">
                    {% if products.has_previous %}
                         <a href="?page={{ products.previous_page_number }}">صفحه قبلی</a>
                    {% else %}
                          <a class="disabled"><span>صفحه قبلی</span></a>
                    {% endif %}
                          {% for i in products.paginator.page_range %}
                              {% if products.number == i %}
                                 <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                             {% else %}
                                  <a href="?page={{ i }}">{{ i }}</a>
                              {% endif %}
                         {% endfor %}
                         {% if products.has_next %}
                               <a href="?page={{ products.next_page_number }}">صفحه بعدی</a>
                          {% else %}
                               <a class="disabled"><span>صفحه بعدی</span></a>
                             {% endif %}
                </div>
{% endif %}
    </div>
  </div>
    </div>
    <div class="clearfix"></div>
</div>

{% endblock %} {% block script %}
<script src="{% static 'js/jquery-ui.min.js'%}"></script>
<script>
    $(".c-p").slider({
               range:true,
               min: 0,
               max: 500,
               values: [ 35, 200 ],
               slide: function( event, ui ) {
                  $( "#price" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
               }
            });
            $( "#price" ).val( "$" + $( "#slider-3" ).slider( "values", 0 ) +
               " - $" + $( "#slider-3" ).slider( "values", 1 ) );


</script>
{% endblock %}
