<!DOCTYPE html> {% extends 'base.html' %} {% load static %}{% get_media_prefix %}{% block head %}
<title>        زیور آلات
</title>
<link rel="stylesheet" href="{% static 'css/category.css' %}"> {% endblock %} {% block content %}
<img src="{% static 'img/aaa.jpg'%}" class="img-responsive" />

<div class="categories">
  <div class="pro-nav">
      <div class="col-sm-4">
          <ul>
              <li><a href="#">خانه</a></li>
              <li><a href="#"><b>{{ category.name }}</b></a></li>
          </ul>
      </div>
      <div class="col-sm-8">
          <ul class="midel-meno">
              <li>
                  <a href="#">گردنبند</a>
              </li>
              <li>
                  <a href="#">دستبند</a>
              </li>
              <li>
                  <a href="#">ساعت</a>
              </li>
              <li>
                  <a href="#">گوشواره</a>
              </li>
              <li>
                  <a href="#">انگشتر</a>
              </li>
              <li>
                  <a href="#">پابند</a>
              </li>
          </ul>
      </div>

  </div>
  <div class="clearfix"></div>
  <div class="pad-LR margin-cashi">
      <div class="col-xs-4 pad-img">
          <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
      </div>
      <div class="col-xs-4 padding-image">
          <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
      </div>
      <div class="col-xs-4 padding-image">
          <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
      </div>
  </div>
  <div class="pad-LR">
      <div class="col-xs-4 pad-img">
          <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
      </div>
      <div class="col-xs-8 padding-image">
          <img src="http://placehold.it/796x230" alt="" class="responsiv-pic">
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="pad-LR">
      <div class="col-xs-8 pad-img">
          <img src="http://placehold.it/796x230" alt="" class="responsiv-pic">
      </div>
      <div class="col-xs-4 padding-image">
          <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
      </div>
  </div>
  <div class="cashi pad-LR">
      <div class="col-xs-4 pad-img">
          <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
      </div>
      <div class="col-xs-4 padding-image">
          <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
      </div>
      <div class="col-xs-4 padding-image">
          <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
      </div>
  </div>




  <div class="container promotions ws-skewed-top ">
      <h3>
پرفروش ترین محصولات
    </h3>
    <div>
        <div class="col-sm-12">
            <div class="promo-owl owl-carousel" dir="ltr">
                <div>
                    <a class="promo-pic" href="#">
                        <img class="img-responsive" src="{% static 'img/p6.jpg' %}" alt="">
                        <div class="prom-la">
                            <label class="prf">گردنبند مروارید</label>
                            <label class="pro-labal">تولید کننده:عرفان</label>
                            <label class="have-border">۳۰۰۰۰تومان</label>
                        </div>
                    </a>

                </div>
                <div>
                    <a class="promo-pic" href="#">
                        <img class="img-responsive" src="{% static 'img/p6.jpg' %}" alt="">
                        <div class="prom-la">
                            <label class="prf">گردنبند مروارید</label>
                            <label class="pro-labal">تولید کننده:عرفان</label>
                            <label class="have-border">۳۰۰۰۰تومان</label>
                        </div>
                    </a>

                </div>
                <div>
                    <a class="promo-pic" href="#">
                        <img class="img-responsive" src="{% static 'img/p6.jpg' %}" alt="">
                        <div class="prom-la">
                            <label class="prf">گردنبند مروارید</label>
                            <label class="pro-labal">تولید کننده:عرفان</label>
                            <label class="have-border">۳۰۰۰۰تومان</label>
                        </div>
                    </a>

                </div>
                <div>
                    <a class="promo-pic" href="#">
                        <img class="img-responsive" src="{% static 'img/p8.jpg' %}" alt="">
                        <div class="prom-la">
                            <label class="prf">گردنبند مروارید</label>
                            <label class="pro-labal">تولید کننده:عرفان</label>
                            <label class="have-border">۳۰۰۰۰تومان</label>
                        </div>
                    </a>

                </div>
                <div>

                        <a class="promo-pic" href="#">
                        <img class="img-responsive" src="{% static 'img/p6.jpg' %}" >

                        <div class="prom-la">
                            <label class="prf">گردنبند مروارید</label>
                            <label class="pro-labal">تولید کننده:عرفان</label>
                            <label class="have-border">۳۰۰۰۰تومان</label>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
  </div>

    <div class="clearfix"></div>

      <div class="container promotions ws-skewed-top marg-up">
          <h3>
    پیشنهاد کازیوا
        </h3>
        <div>
            <div class="col-sm-12">
                <div class="promo-owl owl-carousel" dir="ltr">
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p6.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p6.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p8.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p10.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
        <div class="clearfix"></div>
      <div class="artists container">
          <h3>
        بر اساس آفرینندگان زیور آلات
      </h3>
      <div class="container">
          <div class="artists-owl owl-carousel">
              <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                  <div class="artists-lab"><label> محمدرضا ابراهیمی</label>
                      <label></label></div>
              </a>
              <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                  <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                      <label></label></div>
              </a>
              <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                  <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                      <label</label></div>
              </a>
              <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                  <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                      <label></label></div>
              </a>
              <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                  <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                      <label></label></div>
              </a>
              <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                  <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                      <label></label></div>
              </a>
          </div>

      </div>
      </div>
        <div class="clearfix"></div>
</div>
{% endblock %} {% block script %}
<script>
$('.promo-owl').owlCarousel({
    loop: false,
    nav: true,
    navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
    responsive: {
        0: {
            items: 2
        },
        768: {
            items: 3
        },
        992: {
            items: 4
        },
        1200: {
            items: 5
        }
    }
})
$('.artists-owl').owlCarousel({
    loop: true,
    autoplay: true,
    autoplayTimeout: 3000,
    responsive: {
        0: {
            items: 2
        },
        768: {
            items: 3
        },
        992: {
            items: 4
        },
        1200: {
            items: 5
        }
    },
    rtl: true,
    nav: true,
    navText: ["<i class='fa fa-angle-right'></i>", "<i class='fa fa-angle-left'></i>"]
})
</script>
 {% endblock %}
