
{% block contents%}
<div class="cm-view">
<div class="add-cm-box">
<div class="col-sm-8 no-padding"><div class="add-cm-t">شما هم می توانید نظرات خود را با سایر کاربران در میان بگذارید</div></div>
<div class="col-sm-4 no-padding">
<div class="add-cm"> نظر دهید</div>
</div>
</div>

<div class="cm-box-erea">
<div class="col-sm-2">
<h4>نام کاربر</h4>
</div>
<div class="col-sm-6"></div>
<div class="col-sm-4">
  <div class="stars">
      <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"></label>
      </fieldset>
  </div></div>
<div class="com-text">
سلام
من از محصولا تشما بسیار راضی هستم ممنون از شما و به خصوص بخش فرانت سایت .
<div class="col-sm-12 cm-date"><p class="cm-date">تاریخ:۱/۱/۱</p></div>
</div>
</div>

<div class="cm-box-erea">
<div class="col-sm-2">
<h4>نام کاربر</h4>
</div>
<div class="col-sm-6"></div>
<div class="col-sm-4">
  <div class="stars">
      <fieldset class="rat">
          <input type="radio" id="5" name="rating" value="5" /><label class="full" for="5"></label>
          <input type="radio" id="4half" name="rating" value="4 and a half" /><label class="half" for="4half"></label>
          <input type="radio" id="4" name="rating" value="4" /><label class="full" for="4"></label>
          <input type="radio" id="3half" name="rating" value="3 and a half" /><label class="half" for="3half"></label>
          <input type="radio" id="3" name="rating" value="3" /><label class="full" for="star3"></label>
          <input type="radio" id="2half" name="rating" value="2 and a half" /><label class="half" for="2half"></label>
          <input type="radio" id="2" name="rating" value="2" /><label class="full" for="2"></label>
          <input type="radio" id="1half" name="rating" value="1 and a half" /><label class="half" for="1half"></label>
          <input type="radio" id="1" name="rating" value="1" /><label class="full" for="1"></label>
          <input type="radio" id="half" name="rating" value="half" /><label class="half" for="half"></label>
      </fieldset>
  </div></div>
<div class="com-text">
سلام
من از محصولا تشما بسیار راضی هستم ممنون از شما و به خصوص بخش فرانت سایت .
<div class="col-sm-12"> <p class="cm-date">تاریخ:۱/۱/۱</p></div>
</div>
</div>
<div class="see-block">
  <a class="see-more-cm">مشاهده ی همه ی نظرات</a>
</div>
</div>
<div class="new-cm-box-none">
  <div class="col-sm-6 user-name-erea">
<label class="cm-user-name">نام کاربر</label>
 <input class="cm-user-name-box" type="text" name="user-name" placeholder="نام شما">
</div>

<div class="col-sm-6 rate-txt">
  <label> شما می توانید امتیاز دهید</label>
  <div class="stars">
      <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"></label>
      </fieldset>
  </div>

</div>
<div class="cm-write-box col-sm-12">
  <label for="write-cm">نظر</label>
  <textarea class="cm-txt-erea" type="textarea" placeholder="نظر شما" name="write-cm"></textarea>
</div>
<div class="col-sm-3">
<div class="cm-back"> بازگشت</div>
</div>
<div class="col-sm-6"></div>
<div class="col-sm-3">
<a class="com-sub"> ثبت نظر</a>
</div>
</div>
{% endblock %}
