<!DOCTYPE html> {% extends 'base.html' %} {% load static %} {% block head %}
<title>کازیوا</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock %} {% block content %}

<div class="main-owl owl-carousel" dir="ltr">
    <div class="item">
        <img src="{% static 'img/aaa.jpg' %}" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/aaa.jpg' %}" alt="">
    </div>
    <div class="item">
        <img src="{% static 'img/aaa.jpg' %}" alt="">
    </div>
</div>



<div class="ws-skewed-top ws-skewed-bottom portfolio-holder container">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 txt-owl owl-carousel">
        <div class=" text-capital ">
            <h3>مناسب ترین قیمت</h3>
            <p>مناسب ترین قیمت ممکن <br>برای شما در نظر گرفتیم</p>
        </div>
        <div class=" text-capital ">
            <h3>بهترین کیفیت</h3>
            <p>مناسب ترین قیمت ممکن <br>برای شما در نظر گرفتیم</p>
        </div>
        <div class=" text-capital ">
            <h3> دیگه چی میخوای آخه؟؟</h3>
            <p>مناسب ترین قیمت ممکن <br>برای شما در نظر گرفتیم</p>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-12 pict">
        <img src="{% static 'img/element.png' %}" alt="">
    </div>
</div>
<div class="clearfix"></div>
<div class="pad-LR">
    <div class="col-xs-4 pad-img">
        <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
    </div>
    <div class="col-xs-4 padding-image">
        <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
    </div>
    <div class="col-xs-4 padding-image">
        <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
    </div>
</div>
<div class="pad-LR">
    <div class="col-xs-4 pad-img">
        <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
    </div>
    <div class="col-xs-8 padding-image">
        <img src="http://placehold.it/796x230" alt="" class="responsiv-pic">
    </div>
    <div class="clearfix"></div>
</div>
<div class="pad-LR">
    <div class="col-xs-8 pad-img">
        <img src="http://placehold.it/796x230" alt="" class="responsiv-pic">
    </div>
    <div class="col-xs-4 padding-image">
        <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
    </div>
</div>
<div class="cashi pad-LR">
    <div class="col-xs-4 pad-img">
        <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
    </div>
    <div class="col-xs-4 padding-image">
        <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
    </div>
    <div class="col-xs-4 padding-image">
        <img src="http://placehold.it/394x230" alt="" class="responsiv-pic">
    </div>
</div>

<div class="clearfix"></div>
<div>
    <div class="container promotions ws-skewed-top">
        <h3>
        پرفروش ترین محصولات
  </h3>
        <div>
            <div class="col-sm-12">
                <div class="promo-owl owl-carousel" dir="ltr">
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p6.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p6.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p8.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p10.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="artists container">
    <h3>
  آفرینندگان
</h3>
    <div class="container">
        <div class="artists-owl owl-carousel">
            <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                <div class="artists-lab"><label> محمدرضا ابراهیمی</label>
                    <label></label></div>
            </a>
            <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                    <label></label></div>
            </a>
            <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                    <label</label></div>
            </a>
            <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                    <label></label></div>
            </a>
            <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                    <label></label></div>
            </a>
            <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
                <div class="artists-lab"><label>محمدرضا ابراهیمی ارمی</label>
                    <label></label></div>
            </a>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<div>
    <div class="container promotions ws-skewed-top">
        <h3>
      پیشنهاد کازیوا
  </h3>
        <div>
            <div class="col-sm-12">
                <div class="promo-owl owl-carousel" dir="ltr">
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p6.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p6.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p8.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                    <div>
                        <a class="promo-pic" href="#">
                            <img class="img-responsive" src="{% static 'img/p10.jpg' %}" alt="">
                            <div class="prom-la">
                                <label class="prf">گردنبند مروارید</label>
                                <label class="pro-labal">تولید کننده:عرفان</label>
                                <label class="have-border">۳۰۰۰۰تومان</label>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container back-end">
    <div class="col-sm-12">
        <h3>با <span>کازیوا</span> درآمد کسب کنید</h3>
        <p>اگر محصولی تولید می کنید شما هم میتوانید
            <br> به جمع آفرینندگان کازیوا بپیوندید</p>
        <button type="button" name="button">کلیک کنید</button>
    </div>
    <div class="col-xs-4">
        <img class="p-1" src="{% static 'img/6.png' %}" alt="">
    </div>

    <div class="col-xs-4">
        <img class="p-2" src="{% static 'img/5.png' %}" alt="">
    </div>

    <div class="col-xs-4">
        <img class="p-3" src="{% static 'img/4.png' %}" alt="">
    </div>
</div>

{% endblock %} {% block script %}
<script>
    $('document').ready(function() {
        $('.main-owl').owlCarousel({
            loop: true,
            nav: false,
            rtl: true,
            items: 1,
            autoplay: true,
            autoplayTimeout: 4000
        })
        $('.portfolio-owl').owlCarousel({
            loop: true,
            nav: true,
            responsive: {
                0: {
                    items: 1
                }
            },
            autoplay: true,
            autoplayTimeout: 3000,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
        })
        //
        // $('.portfolio-owl .owl-nav .owl-next').click(function() {
        //     owl.trigger('next.owl.carousel');
        //     owl.trigger('next.owl.carousel');
        // })
        // $('.portfolio-owl .owl-nav .owl-prev').click(function() {
        //     owl.trigger('prev.owl.carousel');
        //     owl.trigger('prev.owl.carousel');
        // })
        $('.txt-owl').owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000,
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 1
                },
                992: {
                    items: 1
                },
                1200: {
                    items: 1
                }
            },
            rtl: true,
            nav: true,
            navText: ["<i class='fa fa-angle-right'></i>", "<i class='fa fa-angle-left'></i>"]
        })


        $('.artists-owl').owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000,
            responsive: {
                0: {
                    items: 1
                },
                500: {
                    items: 2
                },
                768: {
                    items: 3
                },
                992: {
                    items: 4
                },
                1200: {
                    items: 5
                }
            },
            rtl: true,
            nav: true,
            navText: ["<i class='fa fa-angle-right'></i>", "<i class='fa fa-angle-left'></i>"]
        })
        $('.promo-owl').owlCarousel({
            loop: false,
            nav: true,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                500: {
                    items: 2
                },
                768: {
                    items: 2
                },
                992: {
                    items: 3
                },
                1200: {
                    items: 5
                }
            }
        })
        $('.ad-owl').owlCarousel({
            loop: false,
            autoplay: true,
            autoplayTimeout: 3000,
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                992: {
                    items: 3
                },
                1200: {
                    items: 4
                }
            }
        })
        $('.parallax').parallax();

    })
</script> {% endblock %}
