<!DOCTYPE html> {% extends 'base.html' %} {% load static %} {% block head %}
<title>صفحه ی هنرمند</title>
<link rel="stylesheet" href="{% static 'css/honarmand.css' %}">
<link rel="stylesheet" href="{% static 'css/lightgallery.css' %}">{% endblock %} {% block content %}
<div class="honarmand">
    <div class="pro-nav">
        <div class="container">
            <div class="col-sm-12">
                <ul>
                    <li><a href="#">کازیوا</a></li>
                    <li><a href="#"><b>هنرمندان</b></a></li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-sm-12 about-art">
        <div class="container ">
            <div class="col-xs-4 photo">
                <img src="http://placehold.it/250x300" alt="" class="responsiv-pic">
            </div>
            <div class="col-xs-8 box-honar">
                <p>هنرمند: <span>عرفان شریفی</span></p>
                <p>زمینه فعالیت:<span>دکوراتیو</span></p>
                <p class="text-art"> ساعت مدل 646 برند «میو» (Mio) از نوع مچی و ویژه بانوان است. رنگ نارنجی بند چرمی 646 با گل‌های رنگارنگ صفحه آن هماهنگ است. قاب دایره‌ای شکل، عقربه‌های طرحدار و سگک ساده‌ی 646 همگی نقره‌ای رنگ و فلزی هستند. بند ساعت میو مدل 646 قابلیت تنظیم
                    دارد و برای ساعت مدل 646 برند «میو» (Mio) از نوع مچی و ویژه بانوان است. رنگ نارنجی بند چرمی 646 با گل‌های رنگارنگ صفحه آن هماهنگ است. قاب دایره‌ای شکل، عقربه‌های طرحدار و سگک ساده‌ی 646 همگی نقره‌ای رنگ و فلزی هستند. بند ساعت میو مدل
                    646 قابلیت تنظیم دارد و برای</p>

                <div class=" owl-carousel small-pic  col-sm-12" dir="ltr" id="lightgallery">
                    <a href="http://placehold.it/250x250" class="item"><img class="art-pic img-responsive" src="http://placehold.it/250x250" alt=""></a>
                    <a href="http://placehold.it/250x250" class="item"><img class="art-pic img-responsive" src="http://placehold.it/250x250" alt=""></a>
                    <a href="http://placehold.it/250x250" class="item"><img class="art-pic img-responsive" src="http://placehold.it/250x250" alt=""></a>
                    <a href="http://placehold.it/250x250" class="item"><img class="art-pic img-responsive" src="http://placehold.it/250x250" alt=""></a>
                    <a href="http://placehold.it/250x250" class="item"><img class="art-pic img-responsive" src="http://placehold.it/250x250" alt=""></a>
                    <a href="http://placehold.it/250x250" class="item"><img class="art-pic img-responsive" src="http://placehold.it/250x250" alt=""></a>
                </div>
            </div>
        </div>
    </div>
<div class="col-xs-12 handmade">
<div class="container ">
<div class="col-xs-3 art-made">
<p>همه ی آثار هنرمند</p>
</div>
<div class="col-xs-5">

</div>
<div class="col-xs-4">
  <div class="pagination">
      <a href="#">صفحه قبل</a>
      <a href="#">1</a>
      <a class="active" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">صفحه بعد</a>
  </div>
</div>
<div class="col-xs-12">
<div class="col-md-3 col-sm-4 col-xs-12 padding-l">
  <div class="box-pic">
      <a class="promo-pic" href="#">
          <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
          <div class="prom-la">
              <label class="prf">گردنبند مروارید</label>
              <label class="pro-labal">تولید کننده:عرفان</label>
              <label class="have-border"><span>۳۰۰۰۰تومان</span></label>
          </div>
      </a>

  </div>
</div>
<div class="col-md-3 col-sm-4 col-xs-12 padding-l">
  <div class="box-pic">
      <a class="promo-pic" href="#">
          <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
          <div class="prom-la">
              <label class="prf">گردنبند مروارید</label>
              <label class="pro-labal">تولید کننده:عرفان</label>
              <label class="have-border"><span>۳۰۰۰۰تومان</span></label>
          </div>
      </a>

  </div>
</div>

<div class="col-md-3 col-sm-4 col-xs-12 padding-l">
  <div class="box-pic">
      <a class="promo-pic" href="#">
          <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
          <div class="prom-la">
              <label class="prf">گردنبند مروارید</label>
              <label class="pro-labal">تولید کننده:عرفان</label>
              <label class="have-border"><span>۳۰۰۰۰تومان</span></label>
          </div>
      </a>

  </div>
</div>

<div class="col-md-3 col-sm-4 col-xs-12 padding-l">
  <div class="box-pic">
      <a class="promo-pic" href="#">
          <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
          <div class="prom-la">
              <label class="prf">گردنبند مروارید</label>
              <label class="pro-labal">تولید کننده:عرفان</label>
              <label class="have-border"><span>۳۰۰۰۰تومان</span></label>
          </div>
      </a>

  </div>
</div>

<div class="col-md-3 col-sm-4 col-xs-12 padding-l">
  <div class="box-pic">
      <a class="promo-pic" href="#">
          <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
          <div class="prom-la">
              <label class="prf">گردنبند مروارید</label>
              <label class="pro-labal">تولید کننده:عرفان</label>
              <label class="have-border"><span>۳۰۰۰۰تومان</span></label>
          </div>
      </a>

  </div>
</div>

<div class="col-md-3 col-sm-4 col-xs-12 padding-l">
  <div class="box-pic">
      <a class="promo-pic" href="#">
          <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
          <div class="prom-la">
              <label class="prf">گردنبند مروارید</label>
              <label class="pro-labal">تولید کننده:عرفان</label>
              <label class="have-border"><span>۳۰۰۰۰تومان</span></label>
          </div>
      </a>

  </div>
</div>

<div class="col-md-3 col-sm-4 col-xs-12 padding-l">
  <div class="box-pic">
      <a class="promo-pic" href="#">
          <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
          <div class="prom-la">
              <label class="prf">گردنبند مروارید</label>
              <label class="pro-labal">تولید کننده:عرفان</label>
              <label class="have-border"><span>۳۰۰۰۰تومان</span></label>
          </div>
      </a>

  </div>
</div>

<div class="col-md-3 col-sm-4 col-xs-12 padding-l">
  <div class="box-pic">
      <a class="promo-pic" href="#">
          <img class="img-responsive" src="{% static 'img/p12.jpg' %}" alt="">
          <div class="prom-la">
              <label class="prf">گردنبند مروارید</label>
              <label class="pro-labal">تولید کننده:عرفان</label>
              <label class="have-border"><span>۳۰۰۰۰تومان</span></label>
          </div>
      </a>

  </div>
</div>



</div>
<div class="col-xs-12 ination-down">
  <div class="col-xs-8">

  </div>
  <div class="col-xs-4">
    <div class="pagination">
        <a href="#">صفحه قبل</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">صفحه بعد</a>
    </div>
  </div>
</div>
</div>
</div>
<div class="col-xs-12 honarman-more">
  <div class="container">
<div class="col-xs-12 text-more">
  <h3>هنرمندان مشابه</h3>
</div>
<div class="container artist-owl owl-carousel col-xs-12">
  <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
      <div class="artists-lab"><label> محمدرضا ابراهیمی</label>
        </div>
  </a>
  <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
      <div class="artists-lab"><label> محمدرضا ابراهیمی</label>
        </div>
  </a>
  <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
      <div class="artists-lab"><label> محمدرضا ابراهیمی</label>
        </div>
  </a>
  <a href="#" class="artist-one"> <img class="img-responsive" src="{% static 'img/sample.jpeg' %}" alt="">
      <div class="artists-lab"><label> محمدرضا ابراهیمی</label>
        </div>
  </a>


</div>
  </div>
</div>





</div>










{% endblock%} {% block script %}
<script src="{% static 'js/lightgallery.js'%}"></script>
<script>
$(document).ready(function() {
    $("#lightgallery").lightGallery({
      selector: '.item'
    });
});
    $('.small-pic').owlCarousel({
        loop: false,
        nav: false,
        responsive: {
            0: {
                items: 1
            },
            500: {
                items: 2
            },
            768: {
                items: 3
            },
            992: {
                items: 4
            },
            1200: {
                items: 5
            }
        }
    })
    $('.artists-owl').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000,
        responsive: {
            0: {
                items: 1
            },
            500: {
                items: 2
            },
            768: {
                items: 3
            },
            992: {
                items: 4
            },
            1200: {
                items: 5
            }
        },
        rtl: true,
        nav: false
    })
    $('.artist-owl').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000,
        responsive: {
            0: {
                items: 1
            },
            500: {
                items: 2
            },
            768: {
                items: 3
            },
            992: {
                items: 4
            },
            1200: {
                items: 5
            }
        },
        rtl: true,
        nav: true,
        navText: ["<i class='fa fa-angle-right'></i>", "<i class='fa fa-angle-left'></i>"]
    })
</script>
{% endblock %}
