<!DOCTYPE html> {% extends 'base.html' %} {% load static %} {% block head %}
<title>ثبت نام</title>
<link rel="stylesheet" href="{% static 'css/register.css' %}"> {% endblock %} {% block content %}
<form method="post" id="UserCreationForm" action="{% url 'signup' %}" class="news-form">>
    {% csrf_token %}

    <div class="register col-xs-12">
    <div class="col-sm-2 col-md-3 col-lg-3">
    </div>
    <div class="col-sm-8 col-md-6 col-lg-6 main-reg">

            <div class="box-reg col-xs-12">
                <p>پست الکترونیکی</p>
                <input type="text"  name="email"  placeholder="پست الکترونیکی">
            </div>
            <div class="box-reg col-xs-12">
                <p>رمز عبور</p>
                <input type="password" name="password"  placeholder="رمز عبور">
            </div>
            <div class="box-reg col-xs-12">
                <p>تکرار رمز عبور</p>
                <input type="password" name="password2"  placeholder="تکرار رمز عبور">
            </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">

            <div class="box-register">
                <input type="checkbox" name="sub" value="True">
                <label> عضویت در خبرنامه</label>
                <span>از جدید ترین اخبار کازیوا با خبر شوید</span>
            </div>
            <div class="box-register">
                <input type="checkbox" name="rule" value="True">
                <label> قوانین و مقررات</label>
                <span><a href="#">قوانین و مقررات</a> سایت را مطالعه کردم و با آن موافقم.</span>
            </div>
            <div class="submit-reg col-xs-12">
                <input type="submit" name="submit" value="ثبت نام کنید">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box-before">
                <p> اگر قبلا ثبت نام کرده اید وارد <a href="#">صفحه ورود </a> شوید</p>
            </div>
        </div>

            {% for message in messages %}
                            <div class="container col-xs-12 alert alert-danger">
                <strong> {{ message|safe }}</strong>
            </div>

        {% endfor %}

        {% if form.errors %}
            {% for error in field.errors %}
                {{ error|escape }}
            {% endfor %}
         {% endif %}


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="container col-xs-12 alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="container col-xs-12 alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


{##}
{#        {% for k, message in form.errors.items %}#}
{#            {{ message }}#}
{#        {% endfor %}#}
{#        {% for field in form %}#}
{#            {{ field.label_tag }} {{ field }} {{ field.errors }}#}
{#        {% endfor %}#}








  
    <div class="col-sm-2 col-md-3 col-lg-3">
    </div>
    </div>

    </div></form>










{% endblock %} {% block script %}
<script>
</script>
{% endblock %}
